/*--Apple homepage styling--*/
/*--nav icon height--*/
img {
    height: 18px;
}
@media only screen and (max-width: 990px) {
.nav-link.apple1, .nav-link.search, .nav-link.bag1 {
    display: none;
}
a.nav-link.apple, a.nav-link.bag {
    display: block;
}
}
@media only screen and (min-width: 990px) {
    a.nav-link.apple, a.nav-link.bag {
        display: none;
    }
    
}
/*--responsiveness to and from 769 to be fixed--*/
@media only screen and (max-width: 769px) {
    #one {
        background-image: url("assets/images/h2s.jpg");
    }
}
/*bag icon dropdown styling*/
li.list-group-item img {
    padding-right: 1rem;
}
/*search icon dropdown styling*/
#collapse2 .list-group-item:hover {
    background-color: whitesmoke;
}
#collapse2 a {
    text-decoration: none;
    color: gray;
}
#collapse2 a:hover {
    color: blue;
}
/* center navbar items*/
ul.navbar-nav {
    padding-left: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}
/*--padding between nav items--*/
ul.navbar-nav li {
    padding-right: 60px;
}
/*--navbar text styling--*/
#navbarTogglerDemo01 a {
    color: white;
    font-weight: lighter;
}
/*--navbar height--*/
nav.navbar {
    height: 40px;
}
/* The container <div> - needed to position the dropdown content */
.collapse {
    position: relative;
    display: inline-block;
}
/*search bar styling*/
.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    transition: width 0.4s linear;
    }
    /*--content after navbar--*/
    .after {
        padding-top: 10px;
    }
    /*jumbotron text styling--*/
     #one h1, #one h2, #three h1, #three h2, #three h3, #three p,
     #four h1, #four h2, #four h3, #four p,
     #five h1, #five h2, #five h3, #five p {
        color: white;
    }
    /*--1st jumbotron image alignment--*/
    #one video.center {
        padding-top: 20px;
        padding-left: 200px;
    }
    /*--horizontal spacing between links--*/
    a.link {
        padding: 0px 20px;
        word-wrap: normal;
        display: inline-block;
      }
      /*--center images in jumbotron--*/
      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;      
      }
      .center1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
      }
      .card img {
          width: 100%;
          height: 100%;
      }
      /*--footer styling--*/
      .container.footer {
          margin: 0 auto;
      }
      p.text-muted, .row.sm .col {
          font-size: 12px;
      }
      span.vl {
        border-right: 1px solid grey;
        height: 10px;
        margin-right: 7px;
        padding-right: 10px;
        margin-top: 5px;
        display: inline-block;    
      }
      p.text-muted.one a {
          color: grey;
      }
      a.one {
          padding-left: 30px;
      }
    /*--Mac page styling--*/
/* styling the second navbar*/
.container.nav {
  height: 100%;
  max-width: 100%;
  z-index: 1;
  background-color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 150px;
    overflow-x: auto;
    overflow-y: hidden;
}
  li {
    float: left;
  }
  #two ul {
      padding: 8px 0px;
      height: 100px;
      width: 100%;
      overflow: hidden;
      text-align: center;
      display: block;
      color: white;
      text-decoration: none;
      font-size: 17px;
  }
#two li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 11px;
  }
#two li a:hover {
      text-decoration: none;
      color: blue;
  }
#two li img {
    width: 50px;
    height: auto;
    padding: 8px 0px;
  }
#two li a span {
    color: red;
}
/*--button styling--*/
.btn {
    border-radius: 35%;
}
#three h1.big {
    font-size: 70px;
    color: #f0e8e8d2;
}
img.small {
    width: 10%;
    height: auto;
}
img.left {
    width: 150%;
    height: auto;
}
#three.row {
    padding: 100px 150px;
} 
#four.row {
    padding-left: 150px;
    padding-right: 150px;
}
#five.row, #mac.row {
    padding: 100px 150px;
}
#four img, #five img, #mac img, img.sin,
img.card-img-top {
  width: 100%;
  height: auto; 
}
a.link {
    padding-left: 0px;
}
#three h3, #four h3.di, #five h3 {
    color: orange;
}
/*--white div--*/
#mac div.col.pt-3 {
    font-size: 24px;
    font-weight: bold;
}
#mac div.col, #mac p.pt-2, #mac col.pt-5, 
#mac p.pt-0, #mac col.pt-4, #mac col.pt-1 {
  font-size: 15px;
}
#mac img.src {
    margin-top: -32px;
    width: 120%;
    height: 36%;
    margin-bottom: 0px;
}
p.small {
    font-size: 15px;
    font-weight: bold;
} 
.jumbotron.color {
    background-color: whitesmoke;
    padding-bottom: 5px;
}
/*--white div without jumbotron--*/
#sif img {
 width: 50px;
 height: 50px;
}
div.row#sif {
 padding: 50px 100px;
}
.card-img-overlay.text-center {
    padding: 200px 150px;
}
p.card-text a {
    color: white;
    padding-right: 20px;
}
h1.card-text {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

    